<div style="margin:10px 10px;">
<div style="color:Red">注意：</div>
此系统上的【新增客户立项申请】功能已关闭，后续新客户立项、旧立项发起报价等等，请上PIS系统。路径:<br />
外网网址：http://59.37.42.5:8023/pinfo/sy_login.do <br />
内网网址：http://192.168.125.199:8080/pinfo/main.do <br />
点击访问：<a target="_blank" href="http://59.37.42.5:8023/pinfo/sy_login.do" class="easyui-linkbutton" iconCls='icon-redo' >PIS系统</a>
<p>
如果在PIS系统上遇到问题，请联系研发中心工程师黄燕雪，联系方式如下：<br />
邮箱：huangyx.rd@truly.cn <br />
电话：8378,0660-3380344（3619）
</p>
</div>