


<html>
<head>
    <title></title>    
    <script type="text/javascript">
        setTimeout("window.location.href = '../../SaleOrder';", 10000);
    </script>
</head>
<body>
    退货系统已经和下单系统整合，请使用以下新网址登录：<br />
    <1>. 内网用户：http://192.168.90.100/SaleOrder <br />
    <2>. 外网用户：http://59.37.42.23/SaleOrder <br />
    10秒后页面自动跳转...

</body>
</html>