@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>升级维护界面</title>
</head>
<body>
    <div>
        本系统升级维护中，将在 <span style="color:red">@ViewBag.finish_time</span> 恢复正常运行，如有不便请谅解。
    </div>
</body>
</html>
